# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Android
android/build/
android/app/build/
android/local.properties
*.keystore
!android/app/debug.keystore
android/app/keystore.properties

# iOS
ios/Pods/
ios/build/

# misc
.DS_Store
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# env
.env
.env.local
